<div class="bg-primary text-white p-2" [class.bg-warning]="editing">
  <h5>{{editing  ? "Editar" : "Añadir nueva"}} vivienda</h5>
</div>

<form novalidate #form="ngForm" (ngSubmit)="submitForm(form)" (reset)="resetForm()" style="background-color: lightblue">
  <div class="form-group">
    <label>Dirección</label>
    <input class="form-control" name="direccion" [(ngModel)]="vivienda.direccion" required />
  </div>

  <div class="form-group">
    <label>Metros cuadrados</label>
    <input class="form-control" name="metros" [(ngModel)]="vivienda.metros" required pattern="^[0-9\.]+$" />
  </div>

  <div class="form-group">
    <label>Precio</label>
    <input class="form-control" name="precio" [(ngModel)]="vivienda.precio" required pattern="^[0-9\.]+$" />
  </div>

  <div class="form-group">
    <label>Comercial</label>
    <input class="form-control" name="comercial" [(ngModel)]="vivienda.comercial" required />
  </div>

  <button type="submit" class="btn btn-primary m-1" [class.btn-warning]="editing" [disabled]="form.invalid">
    {{editing ? "Guardar" : "Añadir"}}
  </button>
  <button type="reset" class="btn btn-secondary m-1" routerLink="/">Cancelar</button>
</form>
